@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3>@ViewBag.s</h3>
    <ul>
        @foreach (var s in ViewBag.dir as List<string>)
        {
            <li>
                <a asp-action="index" asp-controller="Home" asp-route-path="@s">@s</a>
            </li> 
        }
        @foreach (var s in ViewBag.file as List<string>)
        {
            <li>@s</li> 
        }
    </ul>
    

</div>
